extends layout
block content
   table.table.table-striped.table-hover
    thead
      tr
        th Foodtruck name
        th Foodtruck type
    tbody
    each foodtruck in foodtrucks
      tr.active
        td=foodtruck.name
        td=foodtruck.foodtype
        td
          a(href=`/api/v1/foodtrucks/edit/${foodtruck.id}` class="btn btn-success") Edit
          a(href=`/api/v1/foodtrucks/delete/${foodtruck.id}` class="btn btn-error") Delete

    a(href="/api/v1/foodtrucks/add") Nouveau
